.CardGrid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
	padding: 0 1.5rem;
}

@media screen and(min-width: 1024px) {
	.CardGrid {
		grid-template-columns: 1fr 1fr;
		padding: 0rem 0.5rem;
		margin-inline: auto;
		width: 1112px;
		height: 640px;
	}
}
