$peach: hsl(11, 73%, 66%);
.Card {
	background-color: orange;
	&__web,
	&__app,
	&__graphic {
		background-repeat: no-repeat;
		background-size: cover;
		height: 15.625rem;
		width: 100%;
		min-width: 20.4375rem;
		// min-width: 100%;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		position: relative;
		z-index: 49;
		margin-inline: auto;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: inherit;
		}
		h2 {
			text-transform: uppercase;
			font-family: Jost;
			font-size: 28px;
			font-weight: 500;
			line-height: 36px;
			letter-spacing: 0.0875rem;
			text-align: center;
			position: inherit;
			z-index: 50;
		}
		button {
			background-color: transparent;
			border: none;
			color: white;
			font-family: inherit;
			position: inherit;
			z-index: 50;
			font-family: Jost;
			font-size: 15px;
			font-weight: 400;
			line-height: 22px;
			letter-spacing: 5px;
			text-align: left;
			text-transform: uppercase;
			padding-top: 0.6rem;
			display: flex;
			align-items: center;
			svg {
				color: $peach;
				font-size: 0.75rem;
				margin-left: 1rem;
			}
		}
	}
	&__web {
		background-image: url('../../../public/assets/home/mobile/image-web-design.jpg');

		//Tablets
		@media screen and(min-width: 768px) {
			background-image: url('../../../public/assets/home/tablet/image-web-design.jpg');
			h2 {
				font-size: 2.5rem;
				letter-spacing: 2px;
			}
			button {
				padding-top: 1.5rem;
			}
		}

		// Desktop
		@media screen and(min-width: 1024px) {
			background-image: url('../../../public/assets/home/desktop/image-web-design-large.jpg');
			h2 {
				font-size: 2.5rem;
				letter-spacing: 2px;
			}
			button {
				padding-top: 1.5rem;
			}
		}
	}
	&__app {
		background-image: url('../../../public/assets/home/mobile/image-app-design.jpg');

		// Tablets
		@media screen and(min-width: 768px) {
			background-image: url('../../../public/assets/home/tablet/image-app-design.jpg');
			h2 {
				font-size: 2.5rem;
				letter-spacing: 2px;
			}
			button {
				padding-top: 1.5rem;
			}
		}

		// Desktop
		@media screen and(min-width: 1024px) {
			background-image: url('../../../public/assets/home/desktop/image-app-design.jpg');
			h2 {
				font-size: 2.5rem;
				letter-spacing: 2px;
			}
			button {
				padding-top: 1.5rem;
			}
		}
	}
	&__graphic {
		background-image: url('../../../public/assets/home/mobile/image-graphic-design.jpg');

		// Tablets
		@media screen and(min-width: 1024px) {
			background-image: url('../../../public/assets/home/desktop/image-graphic-design.jpg');
			h2 {
				font-size: 2.5rem;
				letter-spacing: 2px;
			}
			button {
				padding-top: 1.5rem;
			}
		}

		// Desktop
		@media screen and(min-width: 1024px) {
			background-image: url('../../../public/assets/home/desktop/image-graphic-design.jpg');
			h2 {
				font-size: 2.5rem;
				letter-spacing: 2px;
			}
			button {
				padding-top: 1.5rem;
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.Card {
		&__web,
		&__app,
		&__graphic {
			width: 100%;
			height: 12.5rem;

			h2 {
				// padding-bottom: 1rem;
			}
		}
	}
}
@media screen and(min-width: 1024px) {
	.Card {
		&__web,
		&__app,
		&__graphic {
			width: 100%;
			height: 12.5rem;
		}
		&__app,
		&__graphic {
			height: 308px;
			// grid-row: 1 / span 2;
		}

		&__web {
			grid-row: 1 / span 3;
			// height: auto;
			height: 640px;
		}
	}
}
