$peach: hsl(11, 73%, 66%);
.ContactForm {
	max-height: calc(100vh - 5rem);
	background-color: $peach;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	padding: 4.5rem 1.5rem;
	position: relative;
	z-index: 45;
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 50%;
		top: 0;
		left: 0;
		background-image: url('../../../public/assets/contact/mobile/bg-pattern-hero-contact-mobile.svg');
		background-repeat: no-repeat;
		background-position: 17% 0%;
		background-size: 235%;
		z-index: 40;
	}
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 50%;
		bottom: 0;
		right: 0;
		overflow: hidden;
		background-image: url('../../../public/assets/shared/desktop/bg-pattern-small-circle.svg');
		background-repeat: no-repeat;
		background-position: 300% 450%;
		background-size: 80%;
		z-index: -1;
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		text-align: center;
		color: white;
		z-index: 50;
		h2 {
			font-weight: 500;
			font-size: 32px;
			color: white;
		}
		p {
			font-size: 0.9375rem;
			font-weight: 300;
			line-height: 25px;
			padding: 2rem 0.7rem;
		}
	}
	input,
	textarea {
		border: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.723);
		color: white;
		width: 100%;
		background-color: transparent;
		font-family: inherit;
		padding-left: 13px;
		margin-bottom: 25px;
		position: relative;
		z-index: 45;
		font-size: 15px;
		&:focus {
			outline: none;
			border-bottom: 2px solid white;
			margin-bottom: 24px;
		}

		&::placeholder {
			color: white;
			opacity: 0.5;
			font-size: 15px;
			line-height: 26px;
			font-weight: 400;
			border-bottom: 2px solid transparent;
		}
	}
	input {
		padding: 13px;
		padding-left: 13px;
	}
	textarea {
		margin-bottom: 40px;

		&:focus {
			margin-bottom: 39px;
		}
	}

	button {
		border: none;
		font-family: inherit;
		font-size: 15px;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 1rem 0rem;
		border-radius: 8px;
		position: relative;
		z-index: 45;
		width: 152px;
		max-width: 152px;
		white-space: nowrap;
		text-align: center;
	}
}
