$peach: hsl(11, 73%, 66%);
.ContactForm {
	min-height: calc(100vh - 5rem);
	background-color: $peach;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	padding: 4.5rem 1.5rem;
	position: relative;
	// overflow-x: visible;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0%;
		height: 100%;
		width: 100%;
		background-image: url('../../../public/assets/contact/mobile/bg-pattern-hero-contact-mobile.svg');
		background-repeat: no-repeat;
		background-size: 240%;
		background-position: 20% 0;
	}

	@media screen and (min-width: 768px) {
		padding: 4.5rem 3.1875rem;
		align-items: flex-start;
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		text-align: center;
		color: white;
		z-index: 50;
		position: relative;
		h2 {
			font-weight: 500;
			font-size: 32px;
			color: white;
		}
		p {
			font-size: 0.9375rem;
			font-weight: 300;
			line-height: 25px;
			padding: 2rem 0.7rem;
		}
		@media screen and (min-width: 768px) {
			text-align: left;
			align-items: flex-start;
			h2 {
				font-size: 3rem;
				text-align: left;
				padding-left: 1rem;
			}
			p {
				font-size: 1rem;
				line-height: 26px;
				padding-right: 4.5rem;
			}
		}
	}
	input,
	textarea {
		border: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.723);
		color: white;
		width: 100%;
		background-color: transparent;
		font-family: inherit;
		padding-left: 13px;
		margin-bottom: 25px;
		position: relative;
		z-index: 45;
		font-size: 15px;
		transition: all 0.1s ease-in-out;
		&:focus {
			transition: all 0.1s ease-in-out;
			outline: none;
			border-bottom: 2px solid white;
			margin-bottom: 24px;
		}

		&::placeholder {
			color: white;
			opacity: 0.5;
			font-size: 15px;
			line-height: 26px;
			font-weight: 400;
			border-bottom: 2px solid transparent;
		}
	}
	input {
		padding: 13px;
		padding-left: 13px;
	}
	textarea {
		margin-bottom: 40px;

		&:focus {
			margin-bottom: 39px;
		}
	}

	button {
		border: none;
		font-family: inherit;
		font-size: 15px;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 1rem 0rem;
		border-radius: 8px;
		position: relative;
		z-index: 45;
		width: 152px;
		max-width: 152px;
		white-space: nowrap;
		text-align: center;

		@media screen and (min-width: 768px) {
			margin-left: auto;
		}
	}
}
