.DescriptionSection {
	min-height: 100vh;
	padding: 0 1.2rem;
	// display: flex;
	// flex-direction: column;
	// justify-content: space-between;
	// background-color: teal;
}

@media screen and (min-width: 768px) {
	.DescriptionSection {
		padding: 0 2.4375rem;

		padding-bottom: 3rem;
	}
}
@media screen and (min-width: 1024px) {
	.DescriptionSection {
		// padding: 0 2.4375rem;
		padding: 0;
		padding-bottom: 23rem;
		min-height: fit-content;
		width: 1110px;
		margin-inline: auto;
	}
}
