.DesignCardList {
	height: fit-content;
	padding: 5.625rem 1.5rem;
	padding-bottom: 4.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media screen and (min-width: 768px) {
		padding: 5.625rem 0rem;
		width: 100%;
	}
}
