.Footer {
	height: 100vh;
	// height: 100%;
	background-color: #1d1c1e;
	padding: 0 1.5rem;
	padding-bottom: 4.0625rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: white;
	position: relative;

	@media screen and (min-width: 768px) {
		height: 450px;
		padding: 0 3rem;
		padding-bottom: 1rem;

		.listMobile {
			display: none;
		}

		.listTablet {
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 2px;
			font-weight: 300;
		}
	}

	@media screen and (min-width: 1024px) {
		padding: 0 9.375rem;
	}

	&__image {
		border-bottom: 1px solid rgba(128, 128, 128, 0.332);
		padding-top: 15rem;
		padding-bottom: 1.8rem;
		width: 100%;
		ul.listTablet {
			display: none;
		}

		@media screen and (min-width: 768px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 8.8125rem;
			padding-bottom: 2.875rem;

			ul.listTablet {
				display: flex;
				align-items: center;
				padding: 0;

				li.listItemTablet {
					padding: 0;
					margin-right: 42px;

					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}

		@media screen and (min-width: 1024px) {
			padding-top: 6.8rem;
			ul.listTablet {
				text-transform: uppercase;
				letter-spacing: 2px;
				li {
					cursor: pointer;
				}
			}
		}
	}

	&__content {
		width: 100%;
		padding-top: 1.5rem;
		ul.listMobile {
			list-style: none;
			font-family: 'Jost', sans-serif;
			font-size: 0.9375rem;
			font-weight: 400;
			line-height: 14px;
			letter-spacing: 2px;
			text-transform: uppercase;
			padding-top: 2rem;

			li.listItemMobile {
				padding-bottom: 2rem;

				&:last-of-type {
					padding-bottom: 3rem;
				}
			}

			@media screen and (min-width: 768px) {
				.listMobile {
					display: none;
				}
			}
		}

		.textContainer {
			width: 100%;
			.text {
				color: rgba(255, 255, 255, 0.532);
				line-height: 26px;
				padding-bottom: 40px;
				h3 {
					font-weight: 600;
				}

				&:nth-child(4) {
					padding-bottom: 1.5rem;
				}
			}
			@media screen and (min-width: 768px) {
				padding-top: 2.5rem;
				display: flex;
				justify-content: space-between;
				text-align: left;
				font-size: 1rem;

				.text {
					width: 223px;
					white-space: nowrap;
					line-height: 26px;

					h3 {
						font-size: 16px;
					}
					p {
						font-weight: 300;
					}
				}
			}

			@media screen and(min-width: 1024px) {
				display: flex;
				justify-content: space-between;

				.Footer__icons {
					margin: 0;
				}
			}
		}

		.icons {
			width: 60%;
			margin-inline: auto;
			display: flex;
			justify-content: space-between;
			padding-top: 1rem;

			@media screen and (min-width: 768px) {
				width: 30%;
				align-items: flex-end;
				padding-top: 0;
				padding-bottom: 40px;
				margin-right: 0;
			}
			@media screen and(min-width: 1024px) {
				align-items: center;

				margin: 0;
			}
		}
	}
}
