// @use '../variables/colors' as colors;

.Logo {
	width: 12.625rem;
	height: auto;
	a {
		display: flex;
		align-items: center;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
