// $peach: hsl(11, 73%, 66%);

.Navbar {
	display: flex;
	width: 100%;
	position: relative;
	justify-content: space-between;
	height: 5rem;
	align-items: center;
	padding: 0 1.5rem;
	// overflow-y: hidden;

	picture {
		display: flex;
		align-items: center;
	}

	&__items {
		display: none;
	}

	@media screen and (min-width: 768px) {
		.Navbar {
			// padding: 0 5rem;
			&__mobileMenuToggle {
				display: none;
			}
			&__items {
				display: flex;
				li {
					margin-right: 42px;
					text-transform: uppercase;
					letter-spacing: 2px;
					font-weight: 400;
					font-size: 14px;
					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}
	}

	&__list {
		list-style: none;
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 1);
		color: rgba(255, 255, 255, 1);
		height: 14.6875rem;
		font-size: 1.5rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 400;
		align-items: left;
		padding-left: 1.6rem;
		padding-top: 2.34rem;
		z-index: 51;

		li {
			padding-bottom: 1.5rem;

			&:last-of-type {
				padding-bottom: 0;
			}
		}

		@media screen and (min-width: 768px) {
			.Navbar__list {
				display: flex;
				position: static;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.Navbar {
		padding: 4.2rem 2.4375rem;
	}
}

@media screen and (min-width: 1024px) {
	.Navbar {
		padding: 4.2rem 10.25rem;
	}
}
