.PaddingMobile {
	padding: 0 1.5rem;
}

.DesignTypes {
	&__container {
		// background-color: red;
		height: 32.75rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&:nth-child(1) {
			margin-bottom: 1rem;
		}
	}

	padding-bottom: 17.875rem;
}
