.Projects {
	min-height: 100vh;
	padding-top: 4.375rem;
	padding-bottom: 4.375rem;
}

@media screen and(min-width: 768px) {
	.Projects {
		padding: 0 2.4375rem;
		padding-top: 7.5rem;
		padding-bottom: 120px;
		min-height: fit-content;
	}
}
