$font-family: 'Jost', sans-serif;

$font-size-h1: 3rem;
$font-height-h1: 3rem;

$font-size-h2: 2.5rem;
$font-height-h2: 3rem;
$font-spacing-h2: 2px;

$font-size-h3: 1.25rem;
$font-height-h3: 1.625rem;
