@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');

body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
	max-width: 1440px;
	margin-inline: auto;
	scroll-behavior: smooth;
	span {
		display: inherit;
	}

	// @media screen and (min-width: 768px) {
	// 	padding: 0 2.4375rem;
	// }
}
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

// span[style^='box-sizing:border-box;display:inline-block'] {
// 	display: block !important;
// }

// .leaflet-container {
// 	width: 100vw;
// 	height: 100vh;
// }

.map-container {
	width: 100%;
	height: 320px;
	@media screen and (min-width: 768px) {
		// margin: 0 2.4375rem;
		border-radius: 10px;
		margin-bottom: 1.9375rem;
	}
}
